body {
 font-family: sans-serif;
  background-color: #F2F3F4;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
}

.image {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
}

.column {
  flex: 0 0 calc(32.5% - 10px);
  padding: 5px;
  box-sizing: border-box;
}

.menu {
  background-color: #E5E7E9;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
}

.text {
  margin: 100px;
  margin-top: -0.02px;
}

.text2 {
  margin: 100px;
  margin-top: -0.5px;
}